<div class="row-fluid">
	<div class="span12">
		<% provide(:title, "Logowanie") %>
		<h1>Logowanie</h1>

		<div class="row-fluid">
			<div class="span6 offset3">
				<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password, 'Hasło' %>
				<%= f.password_field :password %>

				<%= f.submit "Zaloguj", class: "btn btn-large btn-primary" %>
				<% end %>

				<p>
					Nie masz konta? <%= link_to "Zarejestruj się!", signup_path %>
				</p>
			</div>
		</div>
	</div>
</div>
