<h1>Grupy</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<% @groups.each do |group| %>
			<th><%= link_to "#{group.name} (pokaż)", group %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @groups.each do |group| %>
			<td>
			<table class="table table-condensed">
				<tr>
					<th>Drużyna</th>
					<th>Mecze</th>
					<th>Punkty</th>
				</tr>
				<% group.teams.each do |team| %>
				<tr>
				<td><%= link_to team.name, group_team_path(group, team) %></td>
				<td><%= team.matches.count %></td>
				<td><%= team.points %></td>
				</tr>
			<% end %>
			</table></td>
			<% end %>
		</tr>
	</tbody>
</table>

<br />

<%= link_to 'Nowa Grupa', new_group_path %>
