<h1>Grupy</h1>

<table class="table">
	<thead>
		<tr>
			<% @groups.each do |group| %>
			<th><%= link_to group.name, group %></th>
			<% end %>
		</tr>
		<% if admin_user? %>
		<tr>
			<% @groups.each do |group| %>
			<td><%= link_to 'Edit', edit_group_path(group) %> <br />
				
				<%= link_to 'Show', group_path(group) %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</thead>
	<tbody>
		<tr>
			<% @groups.each do |group| %>
			<td>
			<ul><% group.teams.each do |team| %>
				<li><%= link_to team.name, group_team_path(group, team) %></li>
			<% end %>
			</ul></td>
			<% end %>
		</tr>
	</tbody>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
