<p id="notice">
	<%= notice %>
</p>
<div class="span3">
	<h1><b>Grupa:</b> <%= @group.name %> </h1>
	<% if admin_user? %>
	<%= link_to 'Edit', edit_group_path(@group) %> |
	<% end %>
	<%= link_to 'Back', groups_path %>

	<h2>Drużyny</h2>
	<ul>
	<% @group.teams.each do |team| %>
	<li>
		<%= link_to team.name, group_team_path(@group, team) %>
	</li>
	<% end %>
</div>
<div class="span3">
	<% if admin_user? %>
	<h3>Dodaj drużynę</h3>
	<%= form_for([@group, @group.teams.build]) do |f| %>
	<div class="field">
		<%= f.label :name, "Nazwa"%>
		<br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
	<% end %>
</div>

