<tr>
	<td><%= gravatar_for user, size: 32 %>
	<%= link_to user.name, user %></td>
	<td><%= user.points %></td>
	<td><%= user.bets.count %></td>
	<td><% if current_user.admin? && !current_user?(user) %>
	<%= link_to "Usuń", user, method: :delete, confirm: "Na pewno?" %>
	<% end %> </td>
</tr>