<div class="row-fluid">
	<div class="span12">
		<% provide(:title, 'Załóż konto') %> <h1>Załóż konto</h1>

		<div class="span6 offset3">

			<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name, "Login" %>
			<%= f.text_field :name %>

			<%= f.label :email, 'Email' %>
			<%= f.text_field :email %>

			<%= f.label :password, "Hasło" %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Powtórz hasło" %>
			<%= f.password_field :password_confirmation %>
			<br />
			<%= f.submit "Załóż konto", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
</div>

