<h1>Lista meczy</h1>

<table>
  <tr>
    <th>Drużyna 1</th>
    <th>Drużyna 2</th>
    <th colspan=2>Wynik</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.team1 %></td>
    <td><%= match.team2 %></td>
    <td><%= match.score1 %></td>
    <td><%= match.score2 %></td>
    <td><%= link_to 'Pokaż', match %></td>
    <!--<td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy mecz', new_match_path %>
