<% if notice %>
<div class="alert alert-info">
	<%= notice %>
</div>
<% end %>
<div class="span5">
	<h1><%= @match.team1 %> - <%= @match.team2 %></h1>
	<% if @match.matchtime < Time.now %>
	<h3 class="center">Wynik <br /><%= @match.score1 %> - <%= @match.score2 %> </h3>
	<% end %>
	<p class="center">
		<%= localize(@match.matchtime, :format => :short) %>
	</p>
	<div>
		<% if @match.betsend < Time.now %>
		<h4>Średni przewidywany wynik to:</h4>
		<p class="center"><%= "#{@match.bets.average('score1').round} - #{@match.bets.average('score2').round}" %></p>
		<% end %>
	</div>
	
	<% if admin_user? %>
	<%= link_to 'Edit', edit_match_path(@match), {class: "btn btn-small"} %>
	<% end %>
	<%= link_to 'Wróć', matches_path, {class: "btn btn-small btn-info"} %>
	<div>
		<%= render 'betlist' %>
	</div>
</div>
<div class="span5">
	<% if @match.betsend > Time.now %>
	<% unless @match.bets.exists?(user_id: current_user) %>
	<%= render 'betform' %>
	<% else %>
	<div class="alert alert-info">
		<p>
			Już zagłosowałeś w tym meczu
		</p>
	</div>
	<% end %>
	<% else %>
	<div class="alert alert-success">
		<p>
			Przyjmowanie zakładów na ten mecz zostało zakończone
		</p>
	</div>
	<% end %>

</div>

