<% if notice %>
<div class="alert alert-info">
	<%= notice %>
</div>
<% end %>
<div class="span5">
	<h1><%= @match.name %></h1>
	<%= "<h3 class=\"center\">Wynik	<br /> #{@match.score} </h3>".html_safe if @match.finished? %>
	<p class="center">
		<%= localize(@match.matchtime, :format => :short) %>
	</p>
	<div>
		<% if @match.betsfinished? && @match.average_score? %>
		<h4>Średni przewidywany wynik to:</h4>
		<p class="center">
			<%= @match.average_score %>
		</p>
		<% end %>
	</div>
	<div>
		<% if admin_user? %>
		<%= link_to 'Edit', edit_match_path(@match), {class: "btn btn-small"} %>
		<% end %>
		<%= link_to 'Wróć', matches_path, {class: "btn btn-small btn-info"} %>
	</div>
	<div>
		<%= render 'betlist' %>
	</div>
</div>
<div class="span5">
	<% if @match.betsend > Time.now %>
	<% unless @match.bets.exists?(user_id: current_user) %>
	<%= render 'betform' %>
	<% else %>
	<div class="alert alert-info">
		<p>
			Już zagłosowałeś w tym meczu
		</p>
	</div>
	<% end %>
	<% else %>
	<div class="alert alert-success">
		<p>
			Przyjmowanie zakładów na ten mecz zostało zakończone
		</p>
	</div>
	<% end %>

</div>

